In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
import sys
sys.path.append("C:/Users/c_tal/Desktop")
from api_keys import g_key
g_key = g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Hedland,AU,2021-12-25 21:55:03,-20.3167,118.5667,80.65,61,22,5.75
1,1,Kapaa,US,2021-12-25 21:55:03,22.0752,-159.3190,78.78,67,71,1.99
2,2,Ushuaia,AR,2021-12-25 21:55:03,-54.8000,-68.3000,55.06,44,75,6.91
3,3,Atuona,PF,2021-12-25 21:55:04,-9.8000,-139.0333,78.89,68,11,15.17
4,4,Marquette,US,2021-12-25 21:55:04,46.5333,-87.6335,25.34,55,89,9.22

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

In [11]:
# Get the maximum temperature. (Must do this if max temp is below 0 or error will return)
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

If below 0, replace heat_layer = gmaps.heatmap_layer(locations, weights=max_temp) with 
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

Instead of using For loop, use list comprehension to eliminate zero error.

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5) # resizing
# Assign the heatmap variable.
heat_layer = heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

If you review the gmaps documentation, you may notice there is a dissipation option for creating heatmaps that can be added to the gmaps.heat_layer() attribute.

The options for this are:

The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
We can add max_intensity to make each measurement have a better gradient variance.
We can add point_radius to make each measurement radius larger.
Also, you'll have to tweak these values until you are satisfied with the final map.

Let's modify our gmaps.heat_layer() attribute to heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) and rerun our code.

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudy
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

The conditional filter will be city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"]>= min_temp. Also, filter the city_data_df DataFrame using the following statement.

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Hedland,AU,2021-12-25 21:55:03,-20.3167,118.5667,80.65,61,22,5.75
1,1,Kapaa,US,2021-12-25 21:55:03,22.0752,-159.3190,78.78,67,71,1.99
3,3,Atuona,PF,2021-12-25 21:55:04,-9.8000,-139.0333,78.89,68,11,15.17
9,9,Rikitea,PF,2021-12-25 21:55:05,-23.1203,-134.9692,77.40,77,100,21.65
14,14,Bambous Virieux,MU,2021-12-25 21:55:07,-20.3428,57.7575,77.22,88,75,3.44
15,15,Tiarei,PF,2021-12-25 21:55:07,-17.5333,-149.3333,86.02,70,7,14.09
16,16,Carnarvon,AU,2021-12-25 21:55:07,-24.8667,113.6333,75.27,83,75,11.50
19,19,Luganville,VU,2021-12-25 21:55:08,-15.5333,167.1667,83.95,76,59,8.46
21,21,Mayumba,GA,2021-12-25 21:55:09,-3.4320,10.6554,76.82,92,64,5.37
27,27,Cabo San Lucas,MX,2021-12-25 21:55:10,22.8909,-109.9124,86.50,54,6,7.74

In [26]:
preferred_cities_df.count()

City_ID       162
City          162
Country       162
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0      Port Hedland      AU     80.65 -20.3167  118.5667
1             Kapaa      US     78.78  22.0752 -159.3190
3            Atuona      PF     78.89  -9.8000 -139.0333
9           Rikitea      PF     77.40 -23.1203 -134.9692
14  Bambous Virieux      MU     77.22 -20.3428   57.7575
15           Tiarei      PF     86.02 -17.5333 -149.3333
16        Carnarvon      AU     75.27 -24.8667  113.6333
19       Luganville      VU     83.95 -15.5333  167.1667
21          Mayumba      GA     76.82  -3.4320   10.6554
27   Cabo San Lucas      MX     86.50  22.8909 -109.9124

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

Iterate Through hotel_df DataFrame
We can use the iterrows() function to perform the iteration; however, we need to provide the index and the row in the for loop using this syntax: for index, row in df.iterrows().

In our VacationPy.ipynb file and below the params dictionary, add the following code.

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Port Hedland,AU,80.65,-20.3167,118.5667,The Esplanade Hotel
1,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Atuona,PF,78.89,-9.8000,-139.0333,Villa Enata
9,Rikitea,PF,77.40,-23.1203,-134.9692,People ThankYou
14,Bambous Virieux,MU,77.22,-20.3428,57.7575,Casa Tia Villa
15,Tiarei,PF,86.02,-17.5333,-149.3333,Le Rocher de Tahiti
16,Carnarvon,AU,75.27,-24.8667,113.6333,Hospitality Carnarvon
19,Luganville,VU,83.95,-15.5333,167.1667,The Espiritu Hotel
21,Mayumba,GA,76.82,-3.4320,10.6554,LIKWALE LODGE
27,Cabo San Lucas,MX,86.50,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))